

/* App.css */
.App {
  min-height: 100vh;

  background: linear-gradient(to right, #05ace9, #ef543c);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.head input {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.head button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

.weatherbox {
  width: 100%;
  max-width: 500px;
  text-align: center;
  background-color: white;
}

.weatherbox img.icon {
  display: none;
}

@media (max-width: 576px) {
  .head input {
    width: 100%;
    margin: 0 0 10px 0;
  }

  .head button {
    width: 100%;
  }
}
